@{
    ViewBag.Title = "Groups";
}

<h2 class="page-header">Your groups</h2>

<div id="bodyContainer" ng-app="GradingBookApp" ng-controller="GroupController" ng-init="username='@ViewBag.username'">
    <div ng-if="errorMsg">
        <div class="alert alert-danger" role="alert">
            {{errorMsg}}
        </div>
    </div>
    <div class="alert-container">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    </div>
    <div ng-init="loadGroups(username)"></div>
    <div ng-if="isLoading" class="overlay">
        @*<p class="ng-animate">LOADING...</p>*@
        <div class="overlay-body">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
    <div ng-show="showSections[0]" name="groupSection">
        <div class="row">
            <div class="col-xs-10 form-group-lg">
                <select class="form-control" ng-model="currGroup"
                        ng-options="group.name for group in groups"
                        style="width: 100%; max-width: 100%;"></select>
            </div>
            <div class="col-xs-2">
                <div class="row">
                    <div class="btn-group btn-group-lg dropdown-toggle " data-toggle="collapse">
                        <button uib-popover="Create new group!" popover-trigger="mouseenter"
                                type="button" class="btn btn-default" ng-click="showCreateGroupForm()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button class="btn btn-default" uib-popover="Delete/leave the group."
                                popover-trigger="mouseenter" ng-click="leaveDeleteGroupClick()">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        <button ng-show="isAdmin()" class="btn btn-default" uib-popover="Edit the group."
                                popover-trigger="mouseenter" ng-click="editGroup()">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="group-container">
            <div class="row">
                <div class="col-xs-4">
                    Admin: <b> {{currGroup.ownerName}}</b>
                </div>
                <form name="editGroupForm" class="col-xs-8" novalidate>
                    <div class="col-xs-12" ng-show="isEditing">
                        <div class="text-right form-group">
                            <label style="margin-right: 1em;" for="groupEditName">New name:</label>
                            <input type="text" class="form-control pull-right" id="groupEditName" name="groupEditName"
                                   ng-model="currGroup.name"
                                   uib-popover="Enter new name of the group!" popover-trigger="focus"
                                   ng-required="true"/>
                        </div>
                    </div>
                    <div class="col-xs-12 text-right">
                        <div class="form-group">
                            <label style="margin-right: 1em;" for="groupEditDesc">Description:</label>
                            <textarea id="groupEditDesc" class="form-control pull-right" ng-model="currGroup.description"
                                      ng-disabled="!isEditing"
                                      uib-popover="Edit the description of the group!" popover-trigger="focus"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12" style="margin-top: 1em;" ng-show="isEditing">
                        <button class="btn btn-info pull-right"
                                ng-disabled="editGroupForm.$invalid"
                                ng-click="saveEditForm()">
                            Save changes
                        </button>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    Users:
                    <ul class="group-elements">
                        <li ng-repeat="user in currGroup.GroupDetails" class="group-element">
                            <span ng-if="currUser==user.username">
                                {{user.username}}
                            </span>
                            <span ng-if="currUser!=user.username">
                                <a href="/Home/Index?username={{user.username}}&groupId={{currGroup.id}}"
                                   uib-popover="See his grades!" popover-trigger="mouseenter">
                                    {{user.username}}
                                </a>
                            </span>
                            <span class="pull-right" ng-if="isAdmin() && user.username!=currUser">
                                <button ng-click="removeUser(user)" uib-popover="Remove user from the group!" 
                                        popover-trigger="mouseenter"
                                        class="btn btn-danger">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>

                        </li>
                        <li ng-if="isAdmin()">
                            <a style="cursor: pointer" ng-click="toggleSection(2)">Add user...</a>
                            <form class="form-inline" ng-show="showSections[2]">
                                <input type="text" name="addUsername" ng-model="newUser" value="" class="form-control"/>
                                <button ng-click="addUser(newUser)"
                                        class="btn btn-primary">
                                    Add
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    Years:
                    <ul class="group-elements">
                        <li ng-repeat="year in currGroup.Years" class="group-element">
                            {{year.name}} 
                            <span class="pull-right" ng-if="isAdmin() && user.username!=currUser">
                                <button uib-popover="Delete year!" popover-trigger="mouseenter"
                                        class="btn btn-danger" ng-click="deleteYear(year)">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                        </li>
                        <li ng-show="isAdmin()">
                            <a style="cursor: pointer" ng-click="toggleSection(3)">Add new year...</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @*Create new group section*@
    <div ng-show="showSections[1]">
        <form name="createGroupForm" novalidate>
            <div class="form-group">
                <label for="groupName">Group name</label>
                <input type="text" class="form-control" id="groupName" name="name" placeholder="My group..."
                       ng-model="editedGroup.name" ng-required="true">
            </div>
            <div class="form-group">
                <label for="groupDesc">Description</label>
                <textarea name="description" ng-model="editedGroup.description" class="form-control" id="groupDesc"
                          placeholder="My group is..."></textarea>
            </div>
            <button type="submit" ng-click="createNewGroup()" ng-disabled="createGroupForm.$invalid" class="btn btn-default">Save</button>
            <button class="btn btn-info" ng-click="showMainForm()">Cancel</button>
        </form>
    </div>
    @*Create new year section*@
    <div class="col-xs-12" ng-show="showSections[3]">
        <h3 class="page-header">New year</h3>
        <form name="newYearForm" class="form-horizontal" novalidate>
            <div class="form-group col-xs-12 col-sm-6">
                <label for="newYearName">Name</label>
                <input type="text" id="newYearName" name="newYearName" ng-model="newYear.name" value=""
                       class="form-control" ng-required="true" ng-model="newYear.name"
                       placeholder="My year..."/>
            </div>
            <div class="form-group col-xs-12 col-sm-6">
                <label for="yearDesc">Description</label>
                <textarea ng-model="newYear.year_desc" class="form-control" rows="4" id="yearDesc" placeholder="My year is..."></textarea>
            </div>
            <div class="form-group  col-xs-12 col-sm-6">
                <label for="startDate" class="col-xs-12">Start</label>
                <div style="display: inline-block; min-height: 290px;">
                    <uib-datepicker id="startDate" ng-model="newYear.start" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
                </div>
            </div>
            <div class="form-group  col-xs-12 col-sm-6">
                <label for="endDate" class="col-xs-12">End</label>
                <div style="display: inline-block; min-height: 290px;">
                    <uib-datepicker id="endDate" ng-model="newYear.end_date" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
                </div>
            </div>
            <div class="col-xs-12">
                <button ng-click="createYear()" ng-disabled="newYearForm.$invalid" class="btn btn-primary">
                    Add
                </button>
                <button class="btn btn-default" ng-click="toggleSection(3)">Close</button>
            </div>
        </form>
    </div>
</div>

@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/Scripts/angular-animate.js")
@Scripts.Render("~/bundles/ng-table")
@Scripts.Render("~/Scripts/angular-ui/ui-bootstrap.js")
@Scripts.Render("~/Scripts/angular-ui/ui-bootstrap-tpls.js")
@Scripts.Render("~/ScriptsApp/Controllers/GroupController.js")
@Scripts.Render("~/ScriptsApp/Services/modalService.js")

