@{
    ViewBag.Title = "User's years";

    bool isAdmin = ViewBag.groupId == null; @*isAdmin means that user is watching his own profile*@
    
}


<div id="bodyContainer" ng-app="GradingBookApp" ng-controller="HomeController" ng-init="username='@ViewBag.username'">
    <span ng-init="isAdmin='@isAdmin'"></span>
    @if (!isAdmin)
    {
        <span ng-init="group_id = '@ViewBag.groupId'"></span>
    }
    <div class="col-xs-12 text-center" style="background-color:indianred; border-radius:5px">
        <div class=" page-header">
            <h1>Grading Book</h1>
        </div>
    </div>
    <div ng-if="errorMsg">
        <div class="alert alert-danger" role="alert">
            {{errorMsg}}
        </div>
    </div>
    <div ng-if="isLoading" class="overlay">
        @*<p class="ng-animate">LOADING...</p>*@
        <div class="overlay-body">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
    <div name="mainViewSection" >
        <div ng-init="findUser(username)">
            <div class="col-xs-10 form-group-lg" style="margin-top:15px">
                <select class="form-control" ng-model="currYear"
                        ng-options="year.name group by year.group.groupName for year in getYears"
                        style="width: 100%; max-width: 100%;"
                        ng-change="changeYear(year.id)"></select>
            </div>
            <div class="col-xs-2" style="margin-top:15px">
                <div class="row">
                    <div class="btn-group btn-group-lg dropdown-toggle " ng-show="isAdmin" data-toggle="collapse">
                        <button class="btn btn-default" ng-click="showAddYearSection()" uib-popover="Add a new year." popover-trigger="mouseenter">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                            <button class="btn btn-default" ng-click="deleteYear()"
                                    uib-popover="Delete the selected year.!" popover-trigger="mouseenter"
                                    ng-show="isYearsOwner(currYear)">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        <button class="btn btn-default" uib-popover="Edit the selected year."
                                popover-trigger="mouseenter"
                                ng-show="isYearsOwner(currYear)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div ng-show="showSections[0]" class="col-xs-12" name="gradesTable">
                <div ng-if="getYears">
                    <button ng-show="isYearsOwner(currYear) && isAdmin" ng-click="showAddSubjectSection()" 
                            class="btn btn-primary" style="margin: 5px; background-color: indianred">
                        Add Subject
                    </button>
                </div>
                <table ng-table="yearsTable" class="table table-striped">
                    <tr ng-repeat="subject in currYear.Subjects">
                        <td title="'Name'" sortable="'name'">
                            <span class="btn-group  pull-left btn-group-sm" ng-show="isAdmin">
                                <button class="btn btn-default" ng-click="deleteSubject(subject)"
                                        uib-popover="Remove this subject." popover-trigger="mouseenter"
                                        ng-show="isYearsOwner(currYear)">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                                <button class="btn btn-default" uib-popover="Edit this subject." popover-trigger="mouseenter"
                                        ng-show="isYearsOwner(currYear)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                            </span>
                            <span style="margin-left: 1em;">
                                {{subject.name}}
                            </span>
                        </td>
                        <td title="'Grades'">
                            <span ng-repeat="grade in subject.SubjectDetails">{{grade.grade_value + ' '}}</span>
                            <button class="btn btn-default pull-right"
                                    ng-click="showAddGradeSection(subject)"
                                    uib-popover="Add a new grade to this subject." popover-trigger="mouseenter"
                                    ng-show="isAdmin">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            @*Section for Forms - first Year*@
            <div ng-show="showSections[1]" name="yearFormSection" class="col-xs-12">
                <div class="col-xs-12">
                    <h3 class="page-header">New year</h3>
                    <form name="newYearForm" class="form-horizontal" novalidate>
                        <div class="form-group col-xs-12 col-sm-6">
                            <label for="newYearName">Name</label>
                            <input type="text" id="newYearName" name="newYearName" ng-model="newYear.name" value=""
                                   class="form-control" ng-required="true" placeholder="My year..." />
                        </div>
                        <div class="form-group col-xs-12 col-sm-6">
                            <label for="yearDesc">Description</label>
                            <textarea ng-model="newYear.year_desc" class="form-control" rows="4" id="yearDesc" placeholder="My year is..."></textarea>
                        </div>
                        <div class="form-group  col-xs-12 col-sm-6">
                            <label for="startDate" class="col-xs-12">Start</label>
                            <div style="display: inline-block; min-height: 290px;">
                                <uib-datepicker id="startDate" ng-model="newYear.start" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
                            </div>
                        </div>
                        <div class="form-group  col-xs-12 col-sm-6">
                            <label for="endDate" class="col-xs-12">End</label>
                            <div style="display: inline-block; min-height: 290px;">
                                <uib-datepicker id="endDate" ng-model="newYear.end_date" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <button ng-click="createYear()" ng-disabled="newYearForm.$invalid" class="btn btn-primary">
                                Add
                            </button>
                            <button class="btn btn-default" ng-click="showGradesTable()">Close</button>
                        </div>
                    </form>
                </div>
            </div>
            @*second subjects*@
            <div ng-show="showSections[2]" name="subjectFormSection" class="col-xs-12">
                <div class="col-xs-12">
                    <h3 class="page-header">New Subject</h3>
                    <form name="newSubjectForm" class="form-horizontal" novalidate>
                        <div class="form-group col-xs-12 col-sm-4">
                            <label for="newSubjectName">Name</label>
                            <input type="text" id="newSubjectName" name="newSubjectName" ng-model="newSubject.name" value=""
                                   class="form-control" ng-required="true" placeholder="My subject..." />
                        </div>
                        <div class="form-group col-xs-12 col-sm-4">
                            <label for="subjectDesc">Description</label>
                            <textarea ng-model="newSubject.year_desc" class="form-control" rows="4" id="subjectDesc" placeholder="My subject is..."></textarea>
                        </div>
                        <div class="form-group  col-xs-12 col-sm-4">
                            <label for="newSubjectMail">Teacher's email</label>
                            <input type="text" id="newSubjectMail" name="newSubjectMail" ng-model="newSubject.teacher_mail" value=""
                                   class="form-control" placeholder="My subject lecturer's' email'..." />
                        </div>
                        <div class="col-xs-12">
                            <button ng-click="createSubject()" ng-disabled="newSubjectForm.$invalid" class="btn btn-primary">
                                Add
                            </button>
                            <button class="btn btn-default" ng-click="showGradesTable()">Close</button>
                        </div>
                    </form>
                </div>
            </div>
            @*third grades*@
            <div ng-show="showSections[3]" name="gradeFormSection" class="col-xs-12">
                <div class="col-xs-12">
                    <h3 class="page-header">New Grade</h3>
                    <form name="newGradeForm" class="form-horizontal" novalidate>
                        <div class="form-group col-xs-12 col-sm-2">
                            <label for="newGradeValue">Grade</label>
                            <input type="number" min="2" max="5" id="newGradeValue" name="newGradeValue" ng-model="newGrade.grade_value" value=''
                                   class="form-control" ng-required="true" uib-popover="Enter a grade between 2 and 5." popover-trigger="mouseenter" />
                        </div>
                        <div class="form-group col-xs-12 col-sm-2">
                            <label for="newGradeWeight">Grade Weight</label>
                            <input type="number" min="1" max="10" id="newGradeWeight" name="newGradeWeight" ng-model="newGrade.grade_weight" value='1'
                                   class="form-control" ng-required="true" uib-popover="Enter a value between 1 and 10." popover-trigger="mouseenter" />
                        </div>
                        <div class="form-group col-xs-12 col-sm-4">
                            <label for="gradeDesc">Description</label>
                            <textarea ng-model="newGrade.grade_desc" class="form-control" rows="4" id="gradeDesc" placeholder="My grade description..."></textarea>
                        </div>
                        <div class="form-group  col-xs-12 col-sm-4">
                            <label for="Date" class="col-xs-12">End</label>
                            <div style="display: inline-block; min-height: 290px;">
                                <uib-datepicker id="Date" ng-model="newGrade.grade_date" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <button ng-click="createGrade()" ng-disabled="newGradeForm.$invalid" class="btn btn-primary">
                                Add
                            </button>
                            <button class="btn btn-default" ng-click="showGradesTable()">Close</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>


</div>

@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/Scripts/angular-animate.js")
@Scripts.Render("~/bundles/ng-table")
@Scripts.Render("~/Scripts/angular-ui/ui-bootstrap.js")
@Scripts.Render("~/Scripts/angular-ui/ui-bootstrap-tpls.js")
@Scripts.Render("~/ScriptsApp/Controllers/HomeController.js")
@Scripts.Render("~/ScriptsApp/Services/modalService.js")

